@import url("sudokuTable.css");
@import url("profile.css");
@import url("home.css");


main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    height: 5rem;
    margin-top: auto;
}

.card {
    width: 100%;
}

.card-removed{
    width: 100%;
    opacity: 0.5;
}

.redNotify{
    color: red;
}

.img-preview {
    max-width: 130px;
}