@import url("sudokuTable.css");

main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    height: 5rem;
    margin-top: auto;
}

.card {
    width: 100%;
}

.card-removed{
    width: 100%;
    opacity: 0.5;
}

.redNotify{
    color: red;
}